
.jetbrains-mono {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: rgb(23, 23, 23);
}

#title-main {
  margin-bottom: 0;
}

#version {
  margin-top: 1%;
}

/* Main Screen */
#main-screen {
  background-color: rgb(51, 51, 51);
  padding: 3% 0;
  margin: 0 10%;
}

#main-screen-header {
  width: 77%;
  margin: 0 auto;
}

#main-screen-title, #main-screen-paragraph {
  color: rgb(211, 211, 211);
  text-align: center;
  margin-top: 0;
}

#main-screen-title {
  font-weight: 800;
}

#main-screen-paragraph span{
  color: #3fc795;
  font-weight: bold;
}

#history-buttons {
  /* background-color: rgb(88, 88, 88); */
  width: 80%;
  margin: 0 auto;
  padding: 2% 5%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
}

.button-history {
  background-color: #1d8a62;
  color: rgb(255, 255, 255);
  width: 30%;
  padding: 15px 32px;
  font-size: 13px;
  font-weight: 600;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;

  cursor: pointer;
}

/* Main */

.title {
  color: rgb(255, 255, 255);
  text-align: center;
}

main {
  background-color: rgb(51, 51, 51);
  padding: 3% 0;
  margin: 0 20%;
}

#title-text-box, #title-buttons{
  color: rgb(211, 211, 211);
  font-weight: 800;
  text-align: center;
}

#title-text-box{
  margin-top: 0;
}

#section-history {
  background-color: rgb(139, 139, 139);
  width: 70%;
  margin: 0 auto;
  padding: 5%;
  text-align: center;
}

#text-box {
  color: rgb(32, 32, 32);
  font-weight: 600;
}

#text-alert {
  font-weight: 800;
  font-size: larger;
}

#version span{
  color: #3fc795;
}

#section-buttons {
  background-color: rgb(51, 51, 51);
  width: 70%;
  margin: 0 auto;
  padding: 2% 5%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
}

#choice-1, #choice-2 {
  background-color: #1d8a62;
  color: white;
  width: 45%;
  padding: 15px 32px;
  font-size: 13px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;

  cursor: pointer;
}